/* Project Styling */
* {
	color: lightgrey;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* Main Page Styling */
.container {
	margin: 0 auto;
	text-align: center;
	width: 90%;
}
#gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.photo {
	flex-grow: 1;
	margin: 30px;
	text-align: center;
}
.search {
	font-size: 16px;
	padding: 10px;
}
.search input {
	border: solid 1px;
	border-radius: 5px;
	padding: 10px;
	width: 45%;
}